<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Work Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="experience-label">
    <ion-row>
      <ion-col>
        Work Experience :
      </ion-col>
      <ion-col>
        {{experience}} yr
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col class="" size="4">Company :</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="header">Tata Consultancy Services</ion-col>
        </ion-row>
      </ion-card>

      <ion-card>
        <ion-row>
          <ion-col class="" size="4">Project :</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="header">NSI(New System Information)</ion-col>
        </ion-row>
      </ion-card>

      <ion-card>
        <ion-row>
          <ion-col class="">Responsibilties :</ion-col>
        </ion-row>
        <ion-row class="header">
          <ion-col>
            <p>NSI is a web application for Generali business users or Generali Agents, which is used to generate
              offers and contracts.
            </p><br>
            <p>
              As a developer, I have been working on enhancement of the application based on CRs and implementation of
              client needs and designing solutions and along with that, I have worked on different sub products for this
              application named as Fleet, Motor 2018, NSI Claims, MPC Automatic Rules and Athena as part of different
              projects.
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-card>
        <ion-row>
          <ion-col class="" size="4">Company :</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="header">Tata Consultancy Services</ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col class="" size="4">Project :</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="header">Portal Application</ion-col>
        </ion-row>
      </ion-card>
      <ion-card>
        <ion-row>
          <ion-col>Responsibilties :</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="header">
            <!-- <ul class="responsibility"> -->
            <p>
              Generali Portal is a end user web application for creating insurance offers and contracts of different
              products.
            </p><br>
            <p>
              As a developer, I have worked on different products over the period as part of this application like Pet
              Insurance, Building Insurance, Household Insurance, Vechile Insurance and Prisma products.
            </p>
            <!-- </ul> -->
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-item detail-none routerDirection="'root'" routerLink="/home">
    <div class="footer">
      <ion-title class="home-icon">
        <ion-icon name="home"></ion-icon>
      </ion-title>
    </div>
  </ion-item>
</ion-footer>