<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/resume.jpg">
  <!-- <ion-button expand="full" (click)="openResumePdf()">View Resume</ion-button> -->
  <!-- <ion-button expand="full" (click)="downloadResumePdf()">Download Resume</ion-button> -->
</ion-content>

<ion-footer>
  <ion-item detail-none routerDirection="'root'" routerLink="/home">
    <div class="footer">
      <ion-title class="home-icon">
        <ion-icon name="home"></ion-icon>
      </ion-title>
    </div>
  </ion-item>
</ion-footer>