<ion-header class="header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary-shade">
  <ion-card class="welcome-card">
    <img src="/assets/img/logo.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Hey, I'm Saurav</ion-card-subtitle>
      <ion-card-title> About Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="about">I enjoy playing video games. As a profession, I'm a Software Developer. This is a portfolio app,
        created by me. It has all the necessary
        information about me like my personal and contact details, education, skills, work details etc.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-item  detail-none routerDirection="'root'" routerLink="/home">
    <div class="footer">
        <ion-title class="home-icon"><ion-icon name="home"></ion-icon></ion-title>
    </div>        
  </ion-item>
</ion-footer>