.welcome-card img {
  max-height: 40vh;
  overflow: hidden;
}
.toolbar-background {
  background: #c4f6f0 !important;
}
.about {
  text-align: justify;
}
ion-item {
  padding: 0;
}
ion-card {
  background: #dce7e8;
}
